{% extends 'blank_layout.html' %} {% block banner %}
<!-- {% include 'account_banner.html' %} -->

<div class="account-page">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="images/image1.png" width="100%" />
      </div>
      <div class="col-2">
        <!-- {% if messages %}
        <p>
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
        </p>
        {% endif %} -->
        <div class="form-container" style="width: 300px; height: 460px">
            {% if messages %}
        <p>
            {% for message in messages %}
            <h5 style="color: red;">{{message}}</h5>
            {% endfor %}
        </p>
        {% endif %}
          <div class="form-btn">
            <span onclick="login()">Login</span>
            <span onclick="register()">Register</span>
            <hr id="Indicator" style="transform: translate(0px)" />
          </div>
          <form
            id="LoginForm"
            method="post"
            enctype="multipart/form-data"
            style="transform: translateX(300px)"
          >
            {% csrf_token %}
            <input
              type="text"
              name="username"
              required
              placeholder="Username"
            />
            <input
              type="password"
              name="password"
              required
              placeholder="Password"
            />
            <button type="submit" name="login" class="btn">Login</button>
            <a href="">Forget Password</a>
          </form>

          <form
            id="RegForm"
            method="post"
            enctype="multipart/form-data"
            style="transform: translateX(300px)"
          >
            {% csrf_token %}
            <input
              type="text"
              name="username"
              required
              maxlength="10"
              minlength="3"
              placeholder="Username"
            />
            <input type="email" name="email" required placeholder="Email" />
            <input
              type="password"
              name="password"
              required
              minlength="6"
              placeholder="Password"
            />
            <input
              type="text"
              name="address"
              required
              minlength="5"
              placeholder="Address"
            />
            <input
              type="text"
              name="phone"
              required
              maxlength="10"
              minlength="10"
              placeholder="Phone No"
            />
            <button type="submit" name="register" class="btn">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block content %} {% block extraScript %}
<script>
  var LoginForm = document.getElementById("LoginForm");
  var RegForm = document.getElementById("RegForm");
  var Indicator = document.getElementById("Indicator");
  function register() {
    RegForm.style.transform = "translatex(0px)";
    LoginForm.style.transform = "translatex(0px)";
    Indicator.style.transform = "translateX(100px)";
  }
  function login() {
    RegForm.style.transform = "translatex(300px)";
    LoginForm.style.transform = "translatex(300px)";
    Indicator.style.transform = "translate(0px)";
  }
</script>

{% if register %}
<script>
  register() 
</script>
{% else %}
<script>
  login()
</script>
{% endif %}

{% endblock %} {% endblock content%}
